<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- 引用spring boot的部分默认设置 -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <property name="LOG_LEVEL" value="INFO"/>

    <property name="SPRING_LOG_LEVEL" value="INFO"/>
    <property name="APP_LOG_LEVEL" value="DEBUG"/>


    <!-- 控制台输出 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度  %msg：日志消息，%n是换行符-->
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>


    <!-- 按照每天生成日志文件 -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!--日志文件输出的文件名-->
            <fileNamePattern>${LOG_PATH}/logback.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>100MB</maxFileSize>
            <MaxHistory>5</MaxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
        <!--日志文件最大size-->
        <!--<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">-->
        <!--<MaxFileSize>100MB</MaxFileSize>-->
        <!--</triggeringPolicy>-->
    </appender>

    <logger name="com.ibatis" level="${SPRING_LOG_LEVEL}"/>
    <logger name="java.sql.Connection" level="${SPRING_LOG_LEVEL}"/>
    <logger name="java.sql.Statement" level="${SPRING_LOG_LEVEL}"/>
    <logger name="java.sql.PreparedStatement" level="${SPRING_LOG_LEVEL}"/>
    <logger name="com.alibaba.druid.pool.DruidDataSource" level="${SPRING_LOG_LEVEL}"/>
    <logger name="org.springframework" level="${SPRING_LOG_LEVEL}"/>
    <logger name="com.vonzhou" level="${APP_LOG_LEVEL}"/>

    <!-- 日志输出级别 -->
    <root level="${LOG_LEVEL}">
        <!--<appender-ref ref="CONSOLE"/>-->
        <appender-ref ref="FILE"/>
    </root>
</configuration>
